<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tabs Default Bootstrap Component</title>

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style.css">

</head>
<body>

  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- 6 Columns Space -->
      <div class="col-xs-12 col-md-6">

        <!-- Tabs -->
        <div class="panel with-nav-tabs panel-default">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
              <li class=""><a href="#tab2" data-toggle="tab">Tab 2</a></li>
              <li class=""><a href="#tab3" data-toggle="tab">Tab 3</a></li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane fade active in" id="tab1">Tab 1 content</div>
              <div class="tab-pane fade" id="tab2">Tab 2 content</div>
              <div class="tab-pane fade" id="tab3">Tab 3 content</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
